@import "../../../../../components/app/css/variables";

/* ОБЁРТКИ КОМПОНЕНТА */
.componentWrapper {
    position: relative;
    width: 100%;
    max-width: 1700px;
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 1650px) {
    .componentWrapper {
        &:before, &:after {
            content: '';
            position: absolute;
            top: 0;
            bottom: 0;
            width: 1px;

            background-color: rgba($text-color, .1);
        }

        &:before { left: 0; }
        &:after { right: 0; }
    }
}

.yearWrapper {
    font-size: 2rem;
    line-height: 2.6rem;
    letter-spacing: 4px;
    margin-bottom: 6px;
}
